
.button{
  color: rgb(243, 212, 230);
  background-color: rgb(134, 56, 95);
  font-weight: bold;
  margin: 5px;
  border-radius: 8px;
  border-style: outset;
  height: 30px;
  box-shadow: 0 1px 12px rgba(0,0,0,0.25);
  
}

.hi{
  color: rgb(175, 88, 122);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
  background-color: rgba(238, 182, 182, 0.5);
  box-shadow: 0 1px 12px rgba(0,0,0,0.25);
  
}

.p1{
  text-align: center;
}

.musiclist{
  text-align: center;
}

.navbutton{

  margin: 5px;
  font-weight: bold;
  border-radius: 8px;
  height: 30px;
  background-color: rgb(216, 144, 164);
  box-shadow: 0 1px 12px rgba(0,0,0,0.25);
  border-style: outset;
}

.nav{
  text-align: center;
}

.musicname{
  color: rgb(199, 132, 132);
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 20px;
  border: none black;
  border-radius: 8px;
  width: 50%;
  background-color: rgb(241, 226, 235);
  box-shadow: 0 1px 12px rgba(0,0,0,0.25);
  
}